<section class="hero">
	<div>
        <h1>Your Vision - Our Better Creation</h1>
        <p>A journey from consept to concrete</p>
        <button id="learnMoreBtn"> Learn More </button>
    </div>
</section>

<style>
    .hero{
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero > div{
        max-width: 1200px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        padding: 1rem;
    }

    .hero div h1{
        font-size: 6em;
        font-weight: 200;
    }

    p{
        font-size: 20px;
    }

    button{
        margin-top: 16px;
        border: none;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

    button:hover{
        background-color: #112C57;
        color: #F8F0E4;
    }

    @media screen and (max-width:786px) {

        .hero{
            height: 100%;
            padding: 5rem 0;
        }

        .hero div h1{
            font-size: 3em;
        }
        button{
            margin-top: 8px;
        }

        p{
            font-size: 16px;
        }
    }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("learnMoreBtn");
    const target = document.querySelector("#introduction");

    if (btn && target) {
      btn.addEventListener("click", () => {
        target.scrollIntoView({ behavior: "smooth" });
      });
    }
  });
</script>
