<section id="introduction">
    <div>
        <h2>Inspired by the culture and creative energy of Solo City</h2>
        <p>Aldanaz is a digital agency focused on helping brands grow and succeed. We believe every brand has a story worth telling — with the right strategy, creativity, and relevance to today’s trends.
Through data-driven insights, creative innovation, and a deep understanding of digital behavior, Aldanaz helps businesses build strong identities, reach their audiences more effectively, and achieve real, meaningful results.</p>
    </div>
</section>

<style>
    section{
        display: flex;
        justify-content: center;
        align-items:center ;
    }

    section div {
        width: 100%;
        max-width: 1200px;
        padding: 10rem 1rem;
    }

    h2{
        font-size: 4em;
        font-weight: 200;
        line-height: 1.5;
        max-width: 800px;
    }
    p{
        line-height: 2;
        max-width: 800px;
        font-size: 20px;
        margin-top: 16px;
    }

    @media screen and (max-width:786px){
        h2{
            font-size: 2.5em;
        }

        section div {
            padding: 5rem 1rem;
        }
    }
</style>