<section>
  <div>
    <div>
      <h2>Vision</h2>
      <p>
        To be a digital agency from Solo that brings forward creative works and
        innovative strategies — connecting brands with their audiences,
        strengthening identities, and creating positive impact that transcends
        local boundaries, reaching across the world.
      </p>
    </div>
    <div>
      <h2>Mission</h2>
      <p>
        With creativity — our mission is to be a trusted partner for businesses
        in the digital era. We strengthen brand presence through research,
        adaptive strategies, and data-driven insights to deliver the best
        possible results.
      </p>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem 1rem;
  }

  section > div {
    display: flex;
    flex-direction: row;
    gap: 64px;
    width: 100%;
    max-width: 1200px;
  }

  h2 {
    font-size: 3em;
    font-weight: 200;
  }

  p {
    margin-top: 24px;
    font-size: 20px;
    line-height: 2;
  }

  @media screen and (max-width:786px) {
    section{
        padding: 5rem 1rem;
    }
    section > div{
        flex-direction: column;
        gap: 32px;
    }

    h2{
            font-size: 1.5em;
        }
        p{
            font-size: 16px;
        }
  }
</style>
